@font-face {
    font-family: leadgen;
    src: url(Leadgen.ttf);
}

*{
    font-family: leadgen;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,body{
    height: 239%;
    width: 100%;
}

.backgraund-head{
    width: 100%;
    height: 105px;
    background-color: rgb(50, 50, 63);
    position: fixed;
}

.div-button-3{
    display: flex;
    gap: 20px;
    position: absolute;
    left: 65%;
    top: 33px;
    padding: right 10px;
}

.button-3{
    background-color: rgb(50, 50, 63);
    font-size: 15px;
    border: 0;
    border-radius: 5px;
    color: white;
    font-size: 21px;
    padding: 10px;
}

.button-3:hover{
    color: #1abc9c;
    cursor: pointer;
}

.h-free{
    color: white;
    padding: 30px;
    font-size: 35px;
    padding-left: 70px ;
}

.h-free:hover{
    cursor: pointer;
}

.background-main{
    background-color: #1abc9c;
    width: 100%;
    height: 780px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
}

.h1-free{
    color: whitesmoke;
    justify-content: center;
    display: flex;
    font-size: 85px;
}

.free{
    display: flex;
    justify-content: space-around;
}

#icon{
    font-size: 38px;
    color: whitesmoke;
}