*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

.div-video{
    position: absolute;
    top: 0px;
    left: 0px;
    background-size: cover;
}

.video-backrand{
    width: 1000px;
    height: 850px;
    display: block;
    position: fixed;
    background-size: cover;
}