@media screen and (min-width: 992px){
    .video-backgrand{
        position: absolute;
        top: 0;
        left: 0;
        width: 9900px;
        height: 9900px;
        background-size: cover;
        
    }
}