@media screen and (min-width: 992px){
    .Dad-div{
        display: block;
    }
    #div-dad-2{
        display: none;
    }
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}


#b-co-div{
    position: fixed;
    height: 800px;
}

.div-video{
    position: fixed;
    background-size: cover;
}

/* کاور ذوزنقه */
.black-cover{
    background-color: black;
    opacity: 0.8;
    position: fixed;
    width: 51rem;
    height: 100rem;
    clip-path: polygon(0 0, 100% 0, 87% 100%, 0% 100%);
}

.video-backgrand{
    background-position: center;
    background-size: cover;
}

.coming-soon{
    position: absolute;
    left: 10%;
    top: 20%;
    color: white;
    font-size: 45px;
}

.coming{
    position: absolute;
    left: 10%;
    top: 43%;
    color: white;
    font-size: 25px;
}

.Dad-div{
    position: absolute;
    top: 70%;
    width: 950px;
}

#input-placeholder{
    border: 2px solid red outset;
    width: 340px;
    height: 56px;
    position: absolute;
    left: 10%;
    padding: 30px;
    border-radius: 7.8px;
}

.desabled-button{
    color: rgb(199, 193, 193);
    background-color: rgb(184, 124, 60);
    opacity: 0.6;
    position: absolute;
    left: 60%;
    width: 120px;
    height: 64px;
    border-radius: 7.6px;
}

.dot{

    height: 65px;
    width: 65px;
    background-color: rgb(122, 95, 59);
    border-radius: 50%;
  }
  .dot:hover{
    cursor: pointer;
    background-color: rgb(211, 179, 137);
  }

  .div-button{
    position: absolute;
    left: 92%;
    top: 30%;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }